.App {
  background: var(--main-gradient);
  min-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

.App.dark {
  background: var(--main-gradient-dark);
}

.overflowY-hidden {
  overflow-y: hidden;
}

.d-none {
  display: none;
}

.container {
  max-width: 327px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 689px;
  }
}

.desktop-container {
  min-width: 825px;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1110px;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
  color: #d73737;
  text-align: center;
  padding: 2rem;
}

.success {
  color: #4bca81;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-gray-secondary);
}
